# Files
include install.json
include jupyter-config/jupyterlab-h5web.json
include LICENSE.md
include README.md
include package.json
include pyproject.toml
include yarn.lock

exclude CONTRIBUTING.md
exclude eslint.config.mjs
exclude example.ipynb
exclude requirements_release.txt
exclude tsconfig*.json

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo

# Directories
graft jupyterlab_h5web/labextension
graft src
graft style

prune .git
prune .ipynb_checkpoints
prune .vscode
prune binder
prune lib
prune **/node_modules
