.h5web-icon {
  fill: var(--jp-icon-contrast-color0);
}

.h5web-in-cell {
  height: 400px;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

.h5web-root {
  width: 100%;
  height: 100%;
  font-size: var(--jp-content-font-size1);
}

body[data-jp-theme-light='false'] .h5web-root {
  filter: invert();

  /* Set shadows to lighter colors so they remain dark once inverted */
  --h5w-btnRaised--shadowColor: #f5f5f5;
  --h5w-btnRaised-hover--shadowColor: #fff;
  --h5w-domainSlider-track--shadowColor: #f5f5f5;
  --h5w-domainSlider-dataTrack--shadowColor: #fff;
}

body[data-jp-theme-light='false'] .h5web-root [data-keep-colors],
body[data-jp-theme-light='false'] .h5web-root [data-keep-canvas-colors] canvas {
  filter: invert(); /* invert back to normal colors */
}
