name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jupyterlab: ['3.0.0', '3.1.0', '3.2.0']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - name: Install dependencies
        run: python -m pip install -U jupyterlab~=${{ matrix.jupyterlab }} check-manifest

      - name: Build the extension
        run: |
          set -eux
          jlpm
          jlpm run lint

          python -m pip install .
          jupyter lab build
          jupyter serverextension list 2>&1 | grep -ie "jupyterlab_h5web.*OK"
          jupyter labextension list 2>&1 | grep -ie "jupyterlab-h5web.*OK"

          python -m jupyterlab.browser_check

          check-manifest -v

          pip install build
          python -m build --sdist
          cp dist/*.tar.gz jupyterlab_h5web.tar.gz
          pip uninstall -y jupyterlab_h5web jupyterlab
          rm -rf jupyterlab_h5web

      - uses: actions/upload-artifact@v2
        with:
          name: jupyterlab_h5web-sdist
          path: jupyterlab_h5web.tar.gz
